body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.galleryItem img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.galleryWrapper {
  padding: 5% 10%;
  background-color: #f8f8f8;
}
.gallary-title{
  font-size: 30px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 25px;
}

.filterItem ul {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  gap: 20px;
  margin-bottom: 30px;
}

.filterItem ul button {
  background: #ededed;
    color: #000;
    padding: 5px 20px;
    text-transform: uppercase;
    border: navajowhite;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 600;
}

.filterItem ul button:hover {
  background: #3D00B7;
  color: white;
  cursor: pointer;
}

.galleryItem img {
  border-radius: 15px;
}
.nfts-button{
    font-size: 20px;
    border: 1px solid blue;
    padding: 6px 20px;
    border-radius: 30px;
    margin-top: 40px;
    transition: 0.3s;
}
.nfts-button:hover{
    background-color: #3D00B7;
    color: white;
}



@media only screen and (min-width: 1201px) and (max-width:1600px) {   
}

@media only screen and (min-width: 994px) and (max-width:1200px) {
  .galleryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
}
@media only screen and (min-width: 769px) and (max-width:993px) {  
  .filterItem ul {
    flex-direction: column;
    align-items: center;
  }
  .galleryContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .galleryItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
}

@media only screen and (min-width: 551px) and (max-width:768px) {
  .filterItem ul {
    flex-direction: column;
    align-items: center;
}
.filterItem ul {
  flex-direction: column;
  align-items: center;
}
.galleryContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}
.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}
@media only screen and (min-width: 423px) and (max-width:550px) {
  .filterItem ul {
    flex-direction: column;
    align-items: center;
}
.filterItem ul {
  flex-direction: column;
  align-items: center;
}
.galleryContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}
.galleryItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}
@media only screen and (max-width: 422px) {
  .filterItem ul {
    flex-direction: column;
    align-items: center;
}
.filterItem ul {
  flex-direction: column;
  align-items: center;
}
.galleryContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
}
.galleryItem img {
  width: 100%;
  object-fit: cover;
}
}